
<br>
<h1>{{nome}}</h1>

<button mat-stroked-button color="primary"> + Criar uma anotação</button>

<br>
<br>

<div class="border rounded p-2">
    <h2>Resumo</h2>
    <div style="float: left; margin: 10px;">
        <img src="{{jogoRecebido.urlMainPhoto}}" width="250px" height="250px" class="pull-left rounded mx-auto d-block media-left" style="padding: 5px;" alt="">
     </div>   
    <p class="media-body" style="padding: 10px; font-size: 16px; font-weight: 100; line-height: 30px;">{{jogoRecebido.resumo}}</p>
    

    <p style="padding-top: 10px; font-size: 20px; font-weight: 100; line-height: 30px; clear:both;"> <b>Data de Lançamento:</b> {{jogoRecebido.anoLancamento}}</p>
    <p style="padding-top: 10px; font-size: 20px; font-weight: 100;"> <b>Desenvolvedor:</b> {{jogoRecebido.desenvolvedor}}</p>
</div>

<br>
<br>

<app-card-anotacao></app-card-anotacao>

<br>

<button mat-stroked-button color="primary" routerLink="/">Voltar para a Homepage</button>