
<p><b><hr> Minhas anotações <br><br></b></p>
<mat-card *ngFor="let descricao of descricoes" class="card-anotacao">

    <div class="d-flex justify-content-start m-2">
        <div class="row" style="width: 200px;">
            <p class="text-center font-weight-light">28/01/2023</p>
            <img class="rounded mx-auto d-block" style="padding: 20px;" src="https://imgs.search.brave.com/7Lqd1y9SLyF7hePaN_r0r4E0ot9AVx7f-5sqWWfdmbo/rs:fit:300:198:1/g:ce/aHR0cDovL3R1ZG9z/b2JyZWNhY2hvcnJv/cy5jb20uYnIvd3At/Y29udGVudC91cGxv/YWRzLzIwMTMvMDkv/YXNwYXMucG5n" alt="">
        </div>
        <div class="d-flex justify-content-between">
            <mat-card-content><p style="font-size: 20px; font-weight: 100;">{{descricao.descricao}}</p></mat-card-content>
        </div>
    </div>
</mat-card>
